@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

li {
  font-size: 1.5rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 20px 0;
}

.btn_add {
  border: 1px solid #F27649;
  padding: 10px;
  font-size: 1.2rem;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn_add:hover {
  background-color: #F27649;
  color: white;
}

.nav_bar {
  display: flex;
  flex-direction: auto;
  justify-content: auto;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.nav_bar li:hover a {
  font-weight: 500;
}

.nav--naranja {
  background-color: #F27649;
}
.nav--naranja .nav_img {
  margin-left: 20px;
}
.nav--naranja .a {
  padding: 0 10px;
  color: white;
  transition: 0.3s ease letter-spacing;
}

.section_productos {
  display: flex;
  flex-direction: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  margin: 2.5rem 0;
}

.div_productos {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: center;
  margin: 10px 50px;
  padding: 20px;
  border: 1px solid #d7e6d9;
  border-radius: 1.5rem;
  cursor: pointer;
  box-shadow: 1.2rem 1.2rem 1.8rem rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
}
.div_productos:hover {
  box-shadow: 1.2rem 1.2rem 1.8rem rgba(0, 0, 0, 0.08);
}

.productos_img {
  width: 250px;
  height: 250px;
  transition: 0.2s ease;
}
.productos_img:hover {
  transform: scale(1.1);
}

.p_producto {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.somos {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  padding: 0 5rem;
  margin-bottom: 1.5rem;
}

.fotos-quienes {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.quienes_img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 3rem;
}

footer {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: center;
  background-color: #F27649;
}

.p_footer {
  font-size: 1.2rem;
  margin: 0;
  color: white;
}

.footer_img {
  margin: 0 0.5rem;
}

.tipos-productos {
  margin: 0.8rem 0;
}

#nav-rojo {
  text-align: center;
  background-color: rgb(255, 94, 0);
}
#nav-rojo ul {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: center;
}
#nav-rojo ul li {
  padding: 10px 20px;
}

.grid {
  width: 100%;
  display: grid;
  margin-bottom: 1.5rem;
}

.productos {
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
}

.p_grid {
  align-items: center;
  justify-content: center;
}

.texto_conoce {
  display: flex;
  flex-direction: auto;
  justify-content: flex-start;
  align-items: auto;
  margin-left: 2rem;
}

.texto_video {
  display: flex;
  flex-direction: auto;
  justify-content: flex-start;
  align-items: auto;
}

.texto_emprendedores {
  font-size: 1.5rem;
  margin: 0 2rem;
}

.video_emprendedores {
  margin-right: 3rem;
}

.imagenes_emprendedores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.img_emprendedor {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 3rem;
}

.ser {
  margin: 1.5rem 0;
}

.texto_ser {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: flex-end;
  margin: 2rem;
  font-size: 1.4rem;
}

.mb-3 {
  margin: 0 2rem;
}

.btn-primary {
  margin: 1.2rem 0 2rem 2rem;
}

#nombre, #instagram, #sobre_vos {
  width: 30vw;
}

#sobre_vos {
  height: 15vh;
}

@media (max-width: 600px) {
  header {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  }
  header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
  }
  header .nav_bar {
    display: flex;
    flex-direction: auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
  }
  header ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
  }
  header ul.active {
    left: 0;
  }
  header ul li:hover a {
    color: crimson;
  }
  header ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
  }
  header ul a {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
  }
  header ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 12rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
  }
  header .hamburguesa {
    height: 60px;
    width: 60px;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: auto;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
    transform: scale(0.8);
    margin: 10px 20px;
  }
  header .hamburguesa::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    -webkit-animation: pulsos_hamburguesa 1s ease infinite;
            animation: pulsos_hamburguesa 1s ease infinite;
  }
  header .hamburguesa .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
  }
  header .hamburguesa .bar::after, header .hamburguesa .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
  }
  header .hamburguesa .bar::after {
    top: 8px;
  }
  header .hamburguesa .bar::before {
    bottom: 8px;
  }
  header .hamburguesa.active .bar::after {
    top: 0;
  }
  header .hamburguesa.active .bar::before {
    bottom: 0;
  }
  .nav_img-logo {
    width: 30vw;
  }
  .p_footer {
    font-size: 1.5rem;
  }
  .section_productos, #div_productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .emprendedores {
    text-align: center;
  }
  .emprendedores .texto_conoce {
    margin: 1.5rem 0 0 0;
  }
  .emprendedores .texto_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .emprendedores .texto_video .texto_emprendedores {
    margin: 1rem 2rem;
  }
  .quienes-somos h1 {
    margin: 1.5rem 0;
  }
}