.texto_conoce{
    @include flex(auto, flex-start, auto);
    margin-left: 2rem;
}
.texto_video{
    @include flex(auto, flex-start, auto);
}
.texto_emprendedores{
    font-size: 1.5rem;
    margin: 0 2rem;
}
.video_emprendedores{
    margin-right: 3rem;
}
.imagenes_emprendedores{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
.img_emprendedor{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 3rem;
}